<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBqIi3Qvt5z0BNLImXDvW4TGbmoPhMHhy4</string>
	<key>GCM_SENDER_ID</key>
	<string>1085002557323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialhive</string>
	<key>PROJECT_ID</key>
	<string>socialhive-962ca</string>
	<key>STORAGE_BUCKET</key>
	<string>socialhive-962ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1085002557323:ios:947848e8bcd9c54692318e</string>
</dict>
</plist>